.btn {
  border-radius: 32px;
}
.ink {
  border-radius: 12px;
}
.hero-section {
  background-image: url("/images/nuotrauka3.jpg"); /* failas iš public/images */
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}
